name: Release major version to clojars

on:
  workflow_dispatch: {}

jobs:
  release:
    permissions:
      contents: write
    uses: ruroru/workflows/.github/workflows/clojars-release-major.yaml@master
    secrets: inherit